body {
    font-family: 'Cinzel', sans-serif;
    
}

.container-main {
    background: linear-gradient(lightblue 45deg, lightgreen 45deg);
}

.logon-status {
    margin-right: -1080px ; 
    font-family: 'Cinzel', sans-serif;
}

.container-bookings {
    margin: 5% 2% 10% 2%;
    font-family: 'Cinzel', sans-serif;
}

.page-header {
    font-family: 'Cinzel', sans-serif;
}

.img-aizen {
    opacity: 0.4;
    height: 190px;
    width: 350px;
}
